<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.criteo.mediation.google">
  <application>
    <!-- Required for tests since AdMob 17.0.0:
    https://developers.google.com/ad-manager/mobile-ads-sdk/android/quick-start#update_your_androidmanifestxml
    https://developers.google.com/admob/android/quick-start#update_your_androidmanifestxml
    -->
    <meta-data
      android:name="com.google.android.gms.ads.AD_MANAGER_APP"
      android:value="true"/>
  </application>
</manifest>
