<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.criteo.mediation.google">
  <application>
    <!-- Required for tests since AdMob 17.0.0:
    https://developers.google.com/ad-manager/mobile-ads-sdk/android/quick-start#update_your_androidmanifestxml
    https://developers.google.com/admob/android/quick-start#update_your_androidmanifestxml
    -->
    <meta-data
      android:name="com.google.android.gms.ads.APPLICATION_ID"
      android:value="ca-app-pub-8459323526901202~2792049297"/>

    <activity android:name="com.criteo.mediation.google.activity.DummyActivity"/>
  </application>
</manifest>
